@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/reset";
@import "base/typography";
@import "base/base";

@import "includes/header";
@import "includes/footer";

@import "components/loader";

body,
html {
  position: relative;
  font-family: 'TT Limes', sans-serif;
  scroll-behavior: smooth;
}

.main {
  display: flex;
  align-items: stretch;
  position: relative;
  overflow: hidden;

  @include response-to(medium) {
    flex-wrap: wrap;
  }
}

.left {
  width: 539px;
  position: relative;
  background: radial-gradient(44.02% 77.06% at 50% 50%, #0038DA 0%, #002562 100%);
  padding-top: 69px;

  @include response-to(huge) {
    width: 533px;
  }

  @include response-to(medium) {
    width: 100%;
    order: 2;
    padding-bottom: 51px;
    padding-top: 39px;
  }

  &__note {
    position: absolute;
    filter: drop-shadow(0px 0px 30px #4070FF);

    @include response-to(small) {
      display: none;
    }

    &.one {
      top: 476px;
      left: 22px;
      transform: rotate(-40deg);
    }

    &.two {
      top: 224px;
      left: 75px;
    }

    &.three {
      top: 89px;
      right: 28px;
    }

    &.four {
      bottom: 134px;
      right: 65px;
    }
  }

  &__top-img {
    text-align: center;
    margin-bottom: 57px;

    @include response-to(huge) {
      margin-bottom: 17px;
    }
  }

  &__caption {
    -webkit-text-stroke: 1px #FC18D6;
    text-shadow: 0 0 12px #FC18D6;
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include response-to(small) {
      font-size: 32px;
      line-height: 39px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 0px 0px 12px #FC18D6;
    
    a {
      color: #FC18D6;
      text-decoration: underline;

      @include on-event {
        text-decoration: none;
      }
    }
  }

  &__bottom {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 12px #FC18D6;
  }
}

.right {
  padding-left: 131px;
  padding-bottom: 30px;
  flex: 1 0 auto;
  position: relative;
  background-image: url('../img/rt-bg.png');
  background-position: left top;
  background-size: initial;
  background-repeat: no-repeat;
  background-color: #0066A9;
  background-blend-mode: multiply;

  @media(min-width:1930px) {
    background-size: cover;
  }

  @include response-to(huge) {
    padding-left: 64px;
  }

  @include response-to(medium) {
    width: 100%;
    order: 1;
    overflow: hidden;
    padding-left: 22px;
    padding-bottom: 9px;
  }

  @include response-to(small) {
    background-image: url('../img/main-bg-mob.png');
    background-blend-mode: unset;
    background-size: cover;
  }

  .batman {
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 630px;

    @include response-to(huge) {
      left: unset;
      right: -270px;
    }

    @include response-to(small) {
      right: -247px;
      top: 67px;

      img {
        width: 463px;
        height: 726px;
      }
    }
  }

  .city-bg {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 153px;

    @media(max-width:1920px) {
      top: 142px;
    }

    @include response-to(huge) {
      top: 153px;
    }

    @include response-to(small) {
      display: none;
    }

    &:before {
      position: absolute;
      width: 100%;
      left: 0;
      top: 90%;
      height: 1500px;
      content: '';
      background: #010918;
    }
  }

  &__mob-img {
    position: absolute;
    z-index: 3;
    display: none;
    bottom: 30px;
    right: 3px;

    @include response-to(small) {
      display: block;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__oreo {
    margin-left: -40px;
    margin-top: -11px;
    margin-bottom: 25px;

    @include response-to(huge) {
      margin-bottom: -16px;
    }

    @include response-to(small) {
      margin-left: -25px;
      margin-bottom: -3px;
      margin-top: -3px;

      img {
        width: 285px;
        height: auto;
      }
    }
  }

  &__text-img {
    margin-left: -18px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;

    @include response-to(huge) {
      margin-bottom: 32px;
    }

    @include response-to(small) {
      margin-bottom: 22px;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        width: 75%;
        left: 50%;
        transform: translateX(-50%);
        bottom: -5px;
        height: 30px;
        background: #010918;
        z-index: 0;
      }
    }

    &_batman {
      margin-bottom: 4px;

      @include response-to(huge) {
        width: 237px;
        height: auto;
      }

      @include response-to(small) {
        display: none;
      }

      &.mob {
        display: none;

        @include response-to(small) {
          width: 196px;
          height: auto;
          display: block;
          margin-left: -6px;
        }
      }
    }

    &_text {

      @include response-to(huge) {
        width: 208px;
        height: auto;
      }

      @include response-to(small) {
        width: 161px;
        position: relative;
        z-index: 1;
      }
    }
  }

  &__text {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include response-to(small) {
      font-size: 18px;
      line-height: 22px;
    }

    .normal {
      font-weight: 400;
    }
    
    .red {
      color: #CD0319;
    }

    .huge-br {
      display: none;

      @include response-to(huge) {
        display: block;
      }

      @include response-to(small) {
        display: none;
      }
    }

    .pc-br {

      @include response-to(small) {
        display: none;
      }
    }

    .small-br {
      display: none;

      @include response-to(small) {
        display: block;
      }
    }
  }

  .copy {
    color: #1A96D4;
    font-size: 11px;
    line-height: 14px;
    font-family: 'Myriad Pro', sans-serif;
  }
}

.form {
  margin-bottom: 51px;
  width: 277px;

  @include response-to(huge) {
    margin-bottom: 65px;
  }

  @include response-to(small) {
    margin-bottom: 43px;
  }

  &__item {
    margin-bottom: 10px;
    width: 100%;
    display: block;

    span.error {
      display: none!important;
    }
  }

  &__input {
    display: block;
    width: 100%;
    background-color: #fff;
    border: 2px solid #fff;
    padding: 14px 19px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 30px;

    &::placeholder {
      font-family: 'TT Limes', sans-serif;
      color: #8996AE;
      text-transform: uppercase;
    }

    &.error {
      border: 2px solid red;
    }
  }

  &__checkbox {
    display: flex;
    margin-bottom: 12px;
    cursor: pointer;

    span.error {
      display: none!important;
    }

    input {
      display: none;

      &:checked + .check:before {
        content: '';
      }

      &.error + .check {
        border-color: red;
      }
    }

    .check {
      border: 1px solid #8996AE;
      border-radius: 2px;
      width: 14px;
      height: 14px;
      position: relative;
      background-color: transparent;
      margin-right: 7px;

      &:before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
        height: 6px;
        border-radius: 1px;
        background: #8996AE;
      }
    }

    .check-text {
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #8996AE;
    }
  }

  &__btn {
    background: linear-gradient(90deg, #FC0027 4.2%, #96040D 103.78%);
    border-radius: 30px;
    width: 140px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'TT Limes', sans-serif;
    display: block;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    @include on-event {
      text-decoration: underline;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  @include transition-ease;
  @include flex-center();
  background: rgba(1, 9, 24, 0.8);

  &.active {
    z-index: 100;
    opacity: 1;

    .modal-window {
      transform: translateY(0);
    }
  }

  .close {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../img/Union.svg');
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 16px;
  }

  &-window {
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    padding: 30px 36px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    transform: translateY(-120vh);
    @include transition-ease;
  }

  &-text {
    color: #000;
    line-height: 24px;
    margin-bottom: 20px;
  }

  &-btn {
    background: linear-gradient(90deg, #FC0027 4.2%, #96040D 103.78%);
    border-radius: 30px;
    width: 107px;
    cursor: pointer;
    border: none;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: 'TT Limes', sans-serif;

    @include on-event {
      text-decoration: underline;
    }
  }
}