.footer {
  padding-top: 48px;
  padding-bottom: 45px;
  background-color: #fff;
  color: #46248A;
  position: relative;
  z-index: 20;
  font-family: 'OfficinaSansC', sans-serif;

  @include response-to(small) {
    padding-top: 33px;
    padding-bottom: 35px;
  }

  &__container {
    max-width: 1780px;
    padding: 0 20px;
    margin: 0 auto;

    @include response-to(huge) {
      max-width: 1108px;
    }
  }

  &__wrap {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;

    @include response-to(small) {
      flex-wrap: wrap;
    }
  }

  &__menu {
    display: flex;
    width: 100%;
    margin: 0 auto 35px;
    justify-content: space-between;

    @include response-to(small) {
      flex-wrap: wrap;
      margin-bottom: 0;
      position: absolute;
      left: 20px;
      top: 88px;
    }

    &_item {
      display: block;
      text-decoration: underline;
      font-size: 14px;

      @include response-to(small) {
        width: 100%;
        font-size: 12px;

        &:first-of-type {
          margin-bottom: 8px;
        }
      }

      @include on-event {
        text-decoration: none;
      }
    }
  }

  .info-text {
    max-width: 917px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin: 0 auto 25px;

    @include response-to(small) {
      margin-bottom: 22px;
      margin-top: 0;
      font-size: 10px;
    }

    & br {

      @include response-to(medium) {
        display: none;
      }
    }
  }

  &__item {
    width: 50%;

    @include response-to(small) {
      width: 100%;

      &:last-of-type {
        order: 1;
        margin-bottom: 85px;
      }

      &:nth-of-type(2) {
        order: 2;
      }

      &:first-of-type {
        position: absolute;
        right: 15px;
        width: fit-content;
        top: 84px;
        display: flex;
        flex-direction: column;

        @media(max-width: 350px) {
          top: 87px;
        }
      }
    }

    &_phone {
      display: block;
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 5px;

      @include on-event {
        text-decoration: underline;
      }

      @include response-to(small) {
        text-align: right;
        order: 1;
        font-size: 20px;
        margin-bottom: 1px;
      }

      @media(max-width: 350px) {
        font-size: 16px;
        margin-bottom: 2px;
      }
    }

    &_email {
      font-weight: normal;
      font-size: 16px;
      text-decoration: underline;
      display: block;

      @include on-event {
        text-decoration: none;
      }

      @include response-to(small) {
        text-align: right;
        order: 2;
      }
    }

    &_logo {
      width: 132px;
      margin: 0 auto 20px;

      @include response-to(small) {
        margin-bottom: 0;
      }

      & img {
        max-width: 100%;
        display: block;
      }
    }

    &_text {
      text-align: center;
      font-weight: normal;
      font-size: 12px;

      @include response-to(small) {
        max-width: 300px;
        margin: 20px auto 0;
        font-size: 12px;
        line-height: 14px;
      }
    }

    &_links {
      display: flex;
      justify-content: flex-end;

      @include response-to(small) {
        justify-content: center;
      }
    }

    &_link {
      width: 29px;
      height: 29px;
      cursor: pointer;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      @include response-to(small) {
        width: 29px;
        height: 29px;
        margin-bottom: 0;
      }

      &:not(:last-of-type) {
        margin-right: 8px;
      }

      &.vk {
        background-image: url('../../img/vk.svg');
      }

      &.yt {
        background-image: url('../../img/youtube.svg');
      }

      &.inst {
        background-image: url('../../img/inst.svg');
      }
    }
  }
}